<!DOCTYPE html>
<html>
  <head>
    <title>Test Chatbot</title>
    <link href='https://daveramsey.orbita.cloud:8443/chatbot/styles.css' rel='stylesheet'>
  </head>
  <body>
    <h1>Hello World</h1>
    <div id="chatWindow"></div>
    <script type="text/javascript" language="javascript" src="javascript/jquery-3.4.1.min.js"></script>
    <script src=" https://daveramsey.orbita.cloud:8443/chatbot/chat-plugin.js"></script>
    <script>
      var option = {
                   domId: 'chatWindow',
                   launchWord: 'open',
                   name: 'Orbita',
                   position: 'absolute',
                   themeCode: '3faeec', //optional
                   serverUrl: 'https://daveramsey.orbita.cloud:8443/oeapi/',
                   oathuserverUrl: 'https://daveramsey.orbita.cloud:8443',
                   clientId: 'czCxaZC4nUQRxhf2pzB5jT4WT8fCBRjo7wC8vRba6HCZb1WXBHeFFhBnZsmTnj',
                   clientSecret: 'vhl9JqZKXHqmNaKSDd0cohRJuhCMu9Di2fX4Hst5MXJn2nr4M6S6lPszJ3y33XSUSgW9B6VSpxyK8zeQzSL90ltenRNjcnAKHkpGBpZ9up6T5Z9gG1XpFkt6AGy8hLeq0NoRryBcaFfg9zCW9q4Mts8fSncr5I9BlWDeUMWBs1MsMMtQevccsSJEzgb8gZgE34cpnBwyRurBPcuhCwGhKyILaPldIEBICYUPR0pPGSJmlqvb4vDrbWj6k0MliDJM',
                   theme: 'inline',
                   enableLogin: true
                   };
      
                   if (OrbitaChatBotPlugin) {
                   OrbitaChatBotPlugin.initPlugin(option);
                   }
      </script>
  </body>
</html>