<!DOCTYPE html>
<html>
  <head>
    <title>Test Chatbot</title>
    <link href='https://daveramsey.orbita.cloud:8443/chatbot/styles.css' rel='stylesheet'>
  </head>
  <body>
    <h1>Hello World</h1>
    <div id="chatWindow"></div>
    <script type="text/javascript" language="javascript" src="javascript/jquery-3.4.1.min.js"></script>
    <script src=" https://daveramsey.orbita.cloud:8443/chatbot/chat-plugin.js"></script>
    <script>
      var option = {
                   domId: 'chatWindow',
                   launchWord: 'open',
                   name: 'Orbita',
                   position: 'absolute',
                   themeCode: '3faeec', //optional
                   serverUrl: 'https://daveramsey.orbita.cloud:8443/oeapi/bot/web',
                   oathuserverUrl: 'https://daveramsey.orbita.cloud:8443',
                   clientId: 'F02TW4ouhIPQmRXSkGepuA3ne8wSzCyzbFd6Ppb1xdRSqLTNqtyuO6H651VQQx',
                   clientSecret: 'M6JBGJJTsWcIAzBPIcVznNCb45fUTlXxYfRAVjLXCcdfi4MN2RwmMAqlodRvC2vszbvCj4cg5c1xNF81TeNoTzHtl9XTnD57GPMwYERKqWJD4sA4pan2aH2lNCgLjjj1Dw9ItRJlw3lq8YDbhVqMI5VVCE50RoDbqp99UJ2JYnNHNlMb2WH3oWbVuXnPEtLp6LLVkxdgPGExewY6zZv0SVqH9dnrvhs7AYQ9ihijHEN1Lfjt66tzlPSZ9gopFOzg',
                   theme: 'inline',
                   enableLogin: true
                   };
      
                   if (OrbitaChatBotPlugin) {
                   OrbitaChatBotPlugin.initPlugin(option);
                   }
      </script>
  </body>
</html>